@page "/"
@page "/home"
@layout MainLayout
@inherits RadzenCrm3.Pages.HomeComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm3.Models.Crm
@using Microsoft.AspNetCore.Identity;
@using RadzenCrm3.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Home">
    </RadzenHeading>
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <RadzenCard style="margin-bottom: 16px">
          <ChildContent>
            <div class="row">
              <div class="col-md-12 col-4">
                <RadzenIcon Icon="attach_money" style="background-color: #68d5c8; font-size: 48px; height: 64px; width: 64px">
                </RadzenIcon>
              </div>
              <div class="col-md-12 col-8">
                <RadzenHeading Size="H4" style="margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; text-align: right" Text="Revenue">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; text-align: right" Text="LAST MONTH">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #68d5c8; font-size: 24px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 13px; text-align: right" Text="@(monthlyStats?.Revenue.ToString("C"))">
                </RadzenHeading>
              </div>
            </div>
          </ChildContent>
        </RadzenCard>
      </div>
      <div class="col-xl-3 col-lg-6">
        <RadzenCard style="margin-bottom: 16px">
          <ChildContent>
            <div class="row">
              <div class="col-md-12 col-4">
                <RadzenIcon Icon="shopping_cart" style="background-color: #f9777f; font-size: 48px; height: 64px; width: 64px">
                </RadzenIcon>
              </div>
              <div class="col-md-12 col-8">
                <RadzenHeading Size="H4" style="margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; text-align: right" Text="Opportunities">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; text-align: right" Text="LAST MONTH">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #f9777f; font-size: 24px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 13px; text-align: right" Text="@(monthlyStats?.Opportunities.ToString())">
                </RadzenHeading>
              </div>
            </div>
          </ChildContent>
        </RadzenCard>
      </div>
      <div class="col-xl-3 col-lg-6">
        <RadzenCard style="margin-bottom: 16px">
          <ChildContent>
            <div class="row">
              <div class="col-md-12 col-4">
                <RadzenIcon Icon="account_balance_wallet" style="background-color: #ff6d41; font-size: 48px; height: 64px; width: 64px">
                </RadzenIcon>
              </div>
              <div class="col-md-12 col-8">
                <RadzenHeading Size="H4" style="margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; text-align: right" Text="Average Deal Size">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; text-align: right" Text="LAST MONTH">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #ff6d41; font-size: 24px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 13px; text-align: right" Text="@(monthlyStats?.AverageDealSize.ToString())">
                </RadzenHeading>
              </div>
            </div>
          </ChildContent>
        </RadzenCard>
      </div>
      <div class="col-xl-3 col-lg-6">
        <RadzenCard style="margin-bottom: 16px">
          <ChildContent>
            <div class="row">
              <div class="col-md-12 col-4">
                <RadzenIcon Icon="thumb_up" style="background-color: #479cc8; font-size: 48px; height: 64px; width: 64px">
                </RadzenIcon>
              </div>
              <div class="col-md-12 col-8">
                <RadzenHeading Size="H4" style="margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; text-align: right" Text="Win Rate">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #88989b; font-size: 12px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 0px; text-align: right" Text="LAST MONTH">
                </RadzenHeading>
                <RadzenHeading Size="H4" style="color: #479cc8; font-size: 24px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; margin-top: 13px; text-align: right" Text="@(monthlyStats?.Ratio.ToString("P"))">
                </RadzenHeading>
              </div>
            </div>
          </ChildContent>
        </RadzenCard>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xl-4">
        <RadzenCard style="margin-bottom: 16px">
          <ChildContent>
            <RadzenHeading Size="H3" Text="Customer life time value">
            </RadzenHeading>
            <RadzenChart ColorScheme="ColorScheme.Pastel" style="width: 100%">
              <ChildContent>
                <RadzenColumnSeries CategoryProperty="Company" Data="@revenueByCompany" ValueProperty="Revenue">
                </RadzenColumnSeries>
              </ChildContent>
            </RadzenChart>
          </ChildContent>
        </RadzenCard>
      </div>
      <div class="col-lg-6 col-xl-4">
        <RadzenCard style="margin-bottom: 16px">
          <ChildContent>
            <RadzenHeading Size="H3" Text="Revenue by employee">
            </RadzenHeading>
            <RadzenChart ColorScheme="ColorScheme.Pastel" style="width: 100%">
              <ChildContent>
                <RadzenAreaSeries CategoryProperty="Month" Data="@revenueByMonth" ValueProperty="Revenue">
                </RadzenAreaSeries>
              </ChildContent>
            </RadzenChart>
          </ChildContent>
        </RadzenCard>
      </div>
      <div class="col-lg-6 col-xl-4">
        <RadzenCard style="margin-bottom: 16px">
          <ChildContent>
            <RadzenHeading Size="H3" Text="Revenue">
            </RadzenHeading>
            <RadzenChart ColorScheme="ColorScheme.Pastel" style="width: 100%">
              <ChildContent>
                <RadzenBarSeries CategoryProperty="Employee" Data="@revenueByEmployee" ValueProperty="Revenue">
                </RadzenBarSeries>
              </ChildContent>
            </RadzenChart>
          </ChildContent>
        </RadzenCard>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
